# Default ignored files
/workspace.xml
/armor.iml
/misc.xml
/modules.xml
/inspectionProfiles/profiles_settings.xml
/vcs.xml
/application.ini
/mapping.json
/.idea/*
/azure.ini
/armor-io/templates/config
/kubeconfig
/k8config
/gcp.yaml
/azure.yaml
